<p>
  <strong>First Name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @patient.dob %>
</p>

<%= link_to 'All Patients', patients_path %>
